body {
  margin: 0;
  color: #333333;
  font-family: Hiragino Kaku Gothic ProN;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: white;
  height: 75px;
}

.top-img {
  width: 100%;
}

.header-logo {
  margin-top: 8px;
  margin-left: 278px;
}

.header-list {
  margin-right: 278px;
  float: right;
}

.header-list li {
  margin-top: 26px;
  margin-left: 70px;
  float: right;
  color: #FF5A00;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 280px;
  font-size: 40px;
  font-weight: 600;
  border-bottom: solid #FF5A00;
}

.comments {
  margin-top: 100px;
  font-weight: 300;
  text-align: center;
}

.comment {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 36px;
}

.what-comment {
  margin-bottom: 100px;
}

.want {
  background: url("../img/minohen1.png");
  color: white;
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.7);
}

.want-comment {
  padding-bottom: 30px;
}

.want-comment-end {
  padding-bottom: 100px;
}

.activity {
  background-color: #FFF6F0;
}

.activity-title {
  width: 160px;
}


/*-----------------------------------------*/

/*.stamps-section {
  text-align: center;
  padding-bottom: 60px;
}*/

/*#stamps > .container {
  width: 936px;
}*/

/*.activity-list {
  width: 10000px;
}*/

/*.activity-list li {
  float: left;
  margin: 0 auto;
  margin-bottom: 80px;
}

.activity-list ul {
  padding-left: 0;
}

.activity-img {
  margin-top: 110px;
  width: 609px;
}

.atitle {
  margin-top: 50px;
}*/

/*.stamp-image {
  margin: 10px 0;
  padding: 0px;
}*/

/*#stamp-carousel img {
  display: inline-block;
}*/

/*#stamp-carousel li {
  background-color: #869791;
}*/

/*.carousel-indicators {
  z-index: 5;
}*/

/*.stamp-link {
  color: #5983ff;
}
*/

/*-----------------------------------------*/
.join {
  background: url("../img/minohen2.png") no-repeat center center;
  background-size: auto 100%;
  /*position: relative;*/
}

.join-title {
  width: 390px;
  font-size: 30px;
  padding-top: 50px;
}

.join-comments {
  margin-top: 82px;
}

.join-comment {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.join-btn {
  text-align: center;
  padding-bottom: 50px;
}

.join-bg-filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
}

.panel {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  height: 70px;
  background-color: black;
}

.footer-logo {
  padding-top: 5px;
  padding-left: 278px;
}

.copyright {
  float: right;
  color: white;
  padding-top: 28px;
  padding-right: 278px;
  font-size: 14px;
}