body {
  margin: 0;
  color: #333333;
  font-family: Hiragino Kaku Gothic ProN;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: white;
  height: 75px;
  width: 100%;
  position: fixed;
}

.top-img {
  width: 100%;
}

.header-logo {
  margin-top: 8px;
  margin-left: 278px;
}

.header-list {
  margin-right: 278px;
  float: right;
}

.header-list li {
  margin-top: 26px;
  margin-left: 70px;
  float: right;
  color: #FF5A00;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 280px;
  font-size: 40px;
  font-weight: 600;
  border-bottom: solid #FF5A00;
}

.comments {
  margin-top: 100px;
  font-weight: 300;
  text-align: center;
}

.comment {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 36px;
}

.what-comment {
  margin-bottom: 100px;
}

.want {
  background: url("../img/minohen1.png");
  color: white;
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.7);
}

.want-comment {
  padding-bottom: 30px;
}

.want-comment-end {
  padding-bottom: 100px;
}


.activity {
  background-color: #FFF6F0;
  padding-bottom: 100px;
}

.activity-title {
  width: 160px;
}

.activity-img {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.slider {
  margin-top: 100px;
}

.slider-title {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.slider-comment {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}



.join {
  background: url("../img/minohen2.png") no-repeat center center;
  background-size: auto 100%;
}

.join-title {
  width: 390px;
  font-size: 30px;
  padding-top: 50px;
}

.join-comments {
  margin-top: 82px;
}

.join-comment {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.join-btn {
  text-align: center;
  padding-bottom: 50px;
}

.join-bg-filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
}

.panel {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  height: 70px;
  background-color: black;
}

.footer-logo {
  padding-top: 5px;
  padding-left: 278px;
}

.copyright {
  float: right;
  color: white;
  padding-top: 28px;
  padding-right: 278px;
  font-size: 14px;
}